<h5>Why don'tcha add a contact here?</h5>

<div class="form-group">
  <form action="/" method="post">
    <label for="first_name">A first name goes here:</label>
    <input type="text" name="first_name" value="">

    <label for="last_name">A last name goes here:</label>
    <input type="text" name="last_name" value="">

    <label for="job_title">A job goes here:</label>
    <input type="text" name="job_title" value="">

    <label for="company">A company goes here:</label>
    <input type="text" name="company" value="">

    <button class="btn-primary" type="submit" name="button">Put this contact into the website!</button>
  </form>
</div>
