<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>3-2-1 Contacts!</title>
  </head>
  <body>
    <div class="container">
      <h1>3-2-1 Contacts!</h1>
      <h3>It's the contact-storing app you'll never use!</h3>
      <hr>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
